<div class="col-12">
    <div class="row">
        <div class="col-12">
            <h5>Reservation summary</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 alert alert-info show" role="alert">
            <p>Room name: {{newReservationData.roomName}}</p>
            <p>Reservation period: {{newReservationData.from}} - {{newReservationData.to}}</p>
            <p>Reservation price: {{newReservationData.totalPrice}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h6>Customer data:</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 alert alert-info show" role="alert">
            <p>First Name: {{newCustomer.firstName}}</p>
            <p>Last Name: {{newCustomer.lastName}}</p>
            <p>PESEL: {{newCustomer.pesel}}</p>
            <p>Date of birth: {{newCustomer.birthday}}</p>
            <p>ID card type: {{newCustomer.identityCard.type}}</p>
            <p>ID card number: {{newCustomer.identityCard.number}}</p>
            <p>ID card expiration date: {{newCustomer.identityCard.expiringDate}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href class="btn btn-success" ng-click="addNewReservation()">Confirm reservation</a>
            <a href class="btn btn-warning" ng-click="dismiss">Dismiss</a>
        </div>
    </div>
</div>