<form>
    <div class="form-group row">
        <label for="number" class="col-10 col-form-label">Room Number</label>
        <div class="col-10">
            <input class="form-control" type="text" placeholder="Room number" id="number">
        </div>
    </div>
    <label class="mr-sm-2" for="capacity">Capacity</label>
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="capacity">
        <option selected>Choose...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <br/>
    <label>Room type: </label>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="singleRoom" value="singleRoom"> single room
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="twinRoom" value="twinRoom"> twin room
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="doubleRoom" value="doubleRoom"> double room
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="triple" value="triple"> triple
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="quad" value="quad"> quad
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="dormitory" value="dormitory"> dormitory
        </label>
    </div>

    <br/>
    <label>Room status: </label>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="free" value="free"> free
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="toClean" value="toClean"> to clean
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="reserved" value="reserved"> reserved
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="occupied" value="occupied"> occupied
        </label>
    </div>

    <br/>
    <button type="submit" class="btn btn-primary"> Add new room</button>
</form>