<form>

    <div class="form-group row">
        <label for="since" class="col-10 col-form-label">Since</label>
        <div class="col-10">
            <input class="form-control" type="date" value="2011-08-19" id="since">
        </div>
    </div>
    <div class="form-group row">
        <label for="upTo" class="col-10 col-form-label">Up To</label>
        <div class="col-10">
            <input class="form-control" type="date" value="2011-08-19" id="upTo">
        </div>
    </div>

    <div class="form-group">
        <label for="customers">Customers</label>
        <select class="form-control"
                ng-model="selected.available"
                ng-options="c.name + ' ' +c.surname for c in customers"
                id="customers"
                multiple
                size="5"></select>

        </select>
    </div>

    <div class="form-group">
        <label for="rooms">Rooms</label>
        <select class="form-control"
                ng-model="selected.available"
                ng-options="'Room ' +c.number for c in rooms"
                id="rooms"
                multiple
                disabled
                size="5"></select>

        </select>
    </div>

    <label for="price">Price</label>
    <input class="form-control" id="price" type="text" value="54 PLN" readonly>

    <button type="submit" class="btn btn-primary"> Submit reservation</button>
</form>