<div class="col-12">
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#searchReservation"
                aria-expanded="false" aria-controls="searchReservation" id="searchBtn">
            Show search panel
        </button>
        <a href="" class="btn btn-warning" ng-click="refresh()">Refresh list</a>
    </p>

    <div class="collapse" id="searchReservation">
        <form>
            <div class="form-group row">
                <div class="col-12 col-sm-4">
                    <label for="fromInput" class="col-2 col-form-label">From</label>
                    <input ng-model="fromInput" class="form-control" type="date" value="2011-08-19" id="fromInput">
                </div>
                <div class="col-12 col-sm-4">
                    <label for="toInput" class="col-2 col-form-label">To</label>
                    <input ng-model="toInput" class="form-control" type="date" value="2011-08-19" id="toInput">
                </div>
                <div class="col-12 col-md-4">
                    <label for="roomTypeSearchInput">Room type</label>
                    <select class="form-control" id="roomTypeSearchInput" placeholder="Room type">
                        <option ng-repeat="type in roomTypes">{{type.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-12">
                    <a href="" class="btn btn-primary" ng-click="searchCustomers(firstNameInput, lastNameInput)">Search</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="col-12">
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>Status</th>
            <th>Period</th>
            <th>Room</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="r in reservations">
            <th>{{r.id}}</th>
            <th>{{r.status}}</th>
            <td>{{r.from}} - {{r.to}}</td>
            <td>{{r.to}}</td>
            <td>
                Name:{{r.room.name}}
                Type:{{r.room.type}}
            </td>
            <td>
                <a class="btn btn-info">View</a>
                <a class="btn btn-warning">Edit</a>
                <a class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>