<div class="col-12 element">

    <div class="col-12">
        <form class="form-inline">
            <input class="form-control m-1" type="text" placeholder="">
            <input class="form-control m-1" type="text" placeholder="Last Name">
            <input class="form-control m-1" type="text" placeholder="ID number">
            <a class="d-inline-block btn btn-primary m-1" ng-click="searchCustomers()">Search</a>
        </form>
    </div>

    <div class="col-12">
        <a class="d-inline-block btn btn-success m-1" ui-sref="addCustomer">New Customer</a>
        <a class="d-inline-block btn btn-warning m-1" ng-click="refresh()">Refresh list</a>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>Room number</th>
        <th>Capacity</th>
        <th>Room type</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="r in rooms">
        <td>{{r.id}}</td>
        <td>{{r.number}}</td>
        <td>{{r.maxCapacity}}</td>
        <td>{{r.roomType.description}}</td>
        <td>
            <a class="btn btn-info">Prices</a>
            <a class="btn btn-warning">Reservations</a>
        </td>
    </tr>
    </tbody>
</table>