.footer {
    font-size: 12px;
    color: #aaaaaa;
}

.element {
    margin: 10px;
}

.loading-gif {
    margin: 20% 50%;
}

.navbar-light {
    background-color: #85e0ff;
}

th {

    background-color: #85e0ff;
}

.container-fluid {
    padding: 0px;
}