.footer {
    font-size: 12px;
    color: #aaaaaa;
}

.element {
    margin: 10px;
}

.loading-gif {
    margin: 20% 50%;
}

.navbar-light {
    background-color: #85e0ff;
}

/*table styling*/
th {
    background-color: #85e0ff;
}

td {
    padding-left: 3px;
    border: 1px solid #d1d1d1;
}

/*header full width*/
.container-fluid {
    padding: 0px;
}

input[type=date] { height: 38px; }